@page "/"

<h1>Greetings, World!</h1>

</p>My name is Rebeca Muniz and I am a senior at Florida Gulf Coast University. I plan on graduating in the
Fall of 2022. I am interested in a career in Cybersecurity once I graduate with my degree in Computer
Information Systems.
</p> 

<SurveyPrompt Title="How is Blazor working for you?" />
